/* client/src/components/CircularGallery.css */

.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Use a slightly different cursor when OGL is active */
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}